<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul>
        <li>
            <a href="/index.html">Hem</a>
        </li>
        <li>
            <a href="/view/Historiska Händelser.html">Historiska Händelser</a>
        </li>
        <li>
            <a href="/view/Grundläggande Principer.html">Grundläggande Principer</a>
        </li>
        <li>
            <a href="/view/Webbpublicernigssystem.html">Webbpublicernigssystem</a>
        </li>
        <li>
            <a href="/view/Webbsidors Utveckling.html">Webbsidors Utveckling</a>
        </li>
    </ul>
  </body>
  <script src="js/script.js"></script>
</html>
